[submodule "tests"]
	path = tests
	url = git@github.com:GreenWaves-Technologies/pmsis_bsp_tests.git
[submodule "examples"]
	path = examples
	url = git@github.com:GreenWaves-Technologies/pmsis_bsp_examples.git
